* {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
       /* border: red solid 1px */
    
}

 .hopper-body {
  margin: 0;
  width: 100%;
  background-color: rgb(0, 0, 2);
}

.hopper-main {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 150px;
    top: 135px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-image: url(../images/cone-team2-2.jpg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
} 

.hopper-main h1 {
    font-size: 5vw;
    color: hsl(199, 61%, 93%);
    text-shadow: rgb(37, 0, 247) 2px 2px 10px,
                 rgb(0, 110, 255) -2px -2px 10px,
                 red -2px 2px 10px;
}

.intro {
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vw;
    width: 54vw;
    background-color: hsla(210, 100%, 5%, 0.5);

}

.intro h3 {
    margin-bottom: 0;
    font-size: 1.5vw;
}

.intro p {
    margin-top: 0;
    font-size: 1.5vw;
}

aside {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 1.25vw;
}

#warning {
  display: inline;
  color: rgb(226, 226, 245);
  font-family: "Bai Jamjuree", Helvetica, sans-serif;
  width: 50vw;
  background-color: rgba(53, 52, 1, 0.87);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
  border-radius: 15px;
}

.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

table {
    
    color:rgb(226, 226, 245);
    background-color: rgba(5, 1, 29, 0.8);
    border: 2px solid rgb(222, 221, 240);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vw;
    overflow-x: auto;
    
    
  }
  
  th,
  td {
    border: 2px solid rgb(222, 221, 240);
    padding: 10px;
    letter-spacing: 0.12em;
    box-shadow: inset 0 0 20px 2px rgba(0, 25, 253, 0.589);
    font-size: 1vw;
  }

  td {
    font-family: "Bai Jamjuree", Helvetica, sans-serif;
  }

  #chute,
  #inlet,
  #air {
    line-height: 3rem;
  }


  .redirect {
    background-color: hsla(210, 100%, 5%, 0.5);
    padding-bottom: 2vw;
    margin: 10px;
  }

  .redirect p {
    font-size: 1vw;
    margin: 10px;
  }

  .order-btn {
    display: inline-flex;
    padding: 1px 20px;
    margin: 0;
    background-color: rgb(1, 2, 66);
    border: 4px solid rgb(231, 230, 255);
    border-radius: 5px;
    box-shadow: inset 0 0 5px 2px rgb(76, 0, 252);
    transition: all .5s ease-out .1s;
  }

  .order-btn:hover {
    color: rgb(1, 2, 66);
    background-color: rgb(231, 230, 255);
    border: 4px solid rgb(1, 2, 66);
    box-shadow: inset 0 0 5px 2px rgb(8, 0, 255);
}

  .order-btn h3 {
    margin: 0;
    padding: 10px 20px;

  }

  .intro p,
  .intro h3,
  .redirect p,
  .transitions p,
  .transitions h4,
  .transitions li,
  .transitions h2 {
    font-family: "Radio Canada", Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;
    line-height: 2vw;
    color: rgb(226, 226, 245);
  }

  .transitions {
    display: flex;
    flex-direction: row;
    color:rgb(226, 226, 245);
    background-color: hsla(210, 100%, 5%, 0.5);
    margin: 10px;
    
    
  }

  .transitions img {
    margin: 15px;
    width: auto;
    height: 50vw;
  }

  .transitions ul {
    transform: translateX(-20px);

  }