* {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
       /* border: red solid 1px */
    
}

.tran-body {
    margin: 0;
  width: 100%;
  background-color: rgb(0, 0, 2);
}



.tran-main {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 150px;
    top: 15px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-image: url(../images/gallery_photos/inside_outside_band.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.tran-main h1 {
    font-size: 5vw;
    color: hsl(199, 61%, 93%);
    text-shadow: rgb(37, 0, 247) 2px 2px 10px,
                 rgb(0, 110, 255) -2px -2px 10px,
                 red -2px 2px 10px;
}



  .transitions p,
  .transitions h4,
  .transitions li,
  .transitions h2 {
    font-family: "Radio Canada", Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    color: rgb(226, 226, 245);
  }

.transitions p {
    font-size: 1.5rem;
    padding-top: 1.5rem;

}


  .transitions {
    display: flex;
    flex-direction: row;
    color:rgb(226, 226, 245);
    background-color: hsla(210, 100%, 5%, 0.9);
    margin: 10px;
    margin-bottom: 150px;
    padding-bottom: 30px;
    
    
  }

  .transitions img {
    margin: 15px;
    width: auto;
    height: 30rem;
    align-self: center;
  }

  .transitions ul {
    transform: translateX(-20px);

  }










