.blast-body {
    margin: 0;
    width: 100%;
    background-color: rgb(0, 0, 2);
  }
  
  .blast-main {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-top: 150px;
      /*top: 135px;*/
      width: 100%;
      text-align: center;
      justify-content: center;
      background-image: url(../images/blast_rims_2.jpg);
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: black;
  }
  
  .blast-main h1 {
      font-size: 5vw;
      color: hsl(199, 61%, 93%);
      text-shadow: rgb(37, 0, 247) 2px 2px 10px,
                   rgb(0, 110, 255) -2px -2px 10px,
                   red -2px 2px 10px;
  }

  .intro {
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vw;
    padding-top: 1vw;
    width: 54vw;
    background-color: hsla(210, 100%, 5%, 0.5);

}
 
  .intro p {
    margin-top: 0;
    font-size: 1.5vw;
    color:rgb(226, 226, 245);
    font-family: "Radio Canada", Georgia, 'Times New Roman', Times, serif;
    line-height: 3vw;
}

.gallery {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr;
  grid-auto-flow: row;
  background-color: black;
  color: whitesmoke;
  font-family: "Bai Jamjuree", Helvetica, sans-serif;
  gap: 20px;
  justify-items: center;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 4vw;
  
}

figure img {
width: 100%;
height: auto;

}

figure {
width: auto;
}

figure {
display: flex;
flex-flow: column-reverse;
border:hsl(199, 61%, 93%) solid 5px;
box-shadow: 0 0 20px 8px rgba(0, 25, 253, 0.589);


}